<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a href="/">shop</a></li>
                <li class="main-header_item" ><a class="active" href="/admin/add-product">add product</a></li>
                <li class="main-header_item" ><a href="/contactus">contact us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="forms" action="/success" method="POST">
            <div class="forms-control">
            Name: <input type="text" name="aname"><br>
            Email: <input type="email" name="aemail"><br>
        </div>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>